section {
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>nav {
  justify-content: flex-end !important;
  margin-right: 4vw;
}

h1 {
  font-family: 'Helevtica Neue', 'HelveticaNeue-Bold', sans-serif;
  font-weight: bold;
  font-size: 2.6em;
  margin: 4vh 0 4vh 0;
}

p {
  margin: 0 4vw 3vh 4vw;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  text-align: justify;
}

main {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

img {
  width: 15vw;
}

@media all and (max-width: 768px) {
  body {
    font-size: 13px;
  }

  p {
    margin: 0 7vw 3vh 7vw;
  }

  img {
    width: 20vw;
  }

  h1 {
    margin: 2vh 0 4vh 0;
  }
}

@media all and (max-width: 575px) {
  img {
    width: 30vw;
  }

  h1 {
    margin: 2vh 0 4vh 0;
  }
}