* {
  margin: 0;
}

a, a:active, a:visited {
  text-decoration: none;
  color: black;
}

body {
  background-color: #e9e9e9;
  font-size: 17px;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  letter-spacing: 0.03em;
  color: black;
  /* disabling text highlighting */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* header */
header {
  z-index: 5;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
  position: fixed;
  top: 0;
  height: 9vh;
  width: 100vw;
}

header>a {
  margin-left: 3vw;
}

header>nav {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}

section article {
  background-color: #e9e9e9;
}

/* hiding the main menu */
#menu {
  display: none;
}

/* hidding unwanted previews */
section:first-of-type>article {
  display: none;
}

#homeButton {
  z-index: 5;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  background-color: #ffd42F;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  box-shadow: 0 10px 20px rgba(31, 31, 31, .25);
  transition: opacity .2s .6s, transform .2s;
}

#homeButton:hover {
  transform: scale(1.2);
}

#homeButton:hover #monogramme {
  opacity: 0;
  display: none;
}

#homeButton:hover #homeIcon {
  opacity: 1;
  display: block;
}

#homeIcon {
  opacity: 0;
  display: none;
  align-self: center;
}

#homeIcon>path {
  width: 2vw;
  height: 2vw;
}

#homeButton>svg {
  width: 2.3vw;
  transition: opacity .05s;
}

/* fonts */
@font-face {
  font-family: 'Museo Sans Cyrl 700';
  font-style: normal;
  font-weight: normal;
  src: url(../media/fonts/museo_sans_700/MuseoSansCyrl_2.woff) format('woff');
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../media/fonts/helvetica_neue_bold/HelveticaNeue-Bold.eot');
  src: url('../media/fonts/helvetica_neue_bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/helvetica_neue_bold/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../media/fonts/helvetica_neue_bold/HelveticaNeue-Bold.woff') format('woff'),
    url('../media/fonts/helvetica_neue_bold/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('../media/fonts/helvetica_neue_medium/HelveticaNeue-Medium.eot');
  src: url('../media/fonts/helvetica_neue_medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/helvetica_neue_medium/HelveticaNeue-Medium.woff2') format('woff2'),
    url('../media/fonts/helvetica_neue_medium/HelveticaNeue-Medium.woff') format('woff'),
    url('../media/fonts/helvetica_neue_medium/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500';
  src: url(../media/fonts/museo_sans_500/OpenType/MuseoSans_500.ttf) format('truetype');
}