/* this style sheet gather all the mobile styles  */
/* GENERAL PRESENTATION */
img {
  z-index: 1;
  width: 100%;
}

article {
  z-index: 2;
}

.presentation>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation>div>p,
.presentation>div>h1 {
  font-family: 'Helvetica Neue', 'HelveticaNeue-Bold', sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 2em;
}

/* GENERAL FORMATTING */
article:nth-of-type(n+2)>div:not(.fp-slides) {
  display: flex;
  justify-content: space-between;
}

section>article>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92vh;
  align-self: flex-end;
  text-align: justify;
  text-justify: inter-word;
}

section>article.photoFullPage>div {
  height: 100vh !important;
}

article>div>div>p {
  margin-left: 6vw;
  margin-right: 6vw;
  font-family: 'HelveticaNeue-Medium', sans-serif;
}

div.fp-tableCell>p {
  font-family: 'HelveticaNeue-Medium', sans-serif;
}

section>article>div>div>p:last-of-type {
  margin-bottom: 0;
}

h1,
.titleSlide {
  font-family: 'Helevtica Neue', 'HelveticaNeue-Bold', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  text-align: center;
  margin-bottom: 4vh;
}

article:nth-of-type(n+2) p {
  font-size: 1.3em;
  margin-bottom: 3vh;
  line-height: 2em;
}

#homeButton {
  height: 15vw;
  width: 15vw;
  opacity: 1;
}

#homeButton>svg {
  width: 8vw;
}

.fp-slides p {
  margin: 0 12vw 3vh 12vw;
}

#landscapePopUp {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: #3a3a3a91;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0
}

#landscapePopUp>div {
  height: 40vh;
  width: 60vw;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#landscapePopUp p {
  text-align: left;
  font-size: 1em;
  margin: 0 4vw 0 4vw;
  color: #6b6b6b;
}

#landscapePopUp h1 {
  font-size: 1.5em;
  color: #212121;
  margin: 4vw 0 2.5vw 4vw;
}

/* PAGES FORMATTING */
/* abercrombie */
#abercrombie_mobile>article:nth-of-type(2) img {
  object-fit: cover;
  height: 92vh;
  align-self: flex-end;
}

/* martens */
.martensIframe>div {
  display: flex;
  justify-content: center !important;
}

.martensIframe>div>iframe {
  align-self: center;
  width: 80vw;
  height: 46vw;
}

/* memorial */
.memorialImages img {
  display: none;
  width: 80vw;
}

.displayedMemorial {
  display: block !important;
}

section>.memorialImages>div:first-of-type {
  flex-direction: column;
  justify-content: center;
}

.memorialImages>div>div {
  height: auto;
  width: auto;
  align-self: center;
}

.memorialImages #sliderArrowsMobile {
  flex-direction: row;
  margin: 0;
}

.memorialImages #sliderArrowsMobile>i {
  font-size: 2em;
  margin-top: 4vh;
}

#memorialLeftArrow {
  margin-right: 5vw;
}

#memorialRightArrow {
  margin-left: 5vw;
}

/* petite faim  */
#petiteFaim_mobile>article:nth-of-type(n+2)>div:not(.fp-slidesNav) {
  flex-direction: column;
  justify-content: center;
}

#petiteFaim_mobile>article:nth-of-type(3) img {
  height: 100vh;
  object-fit: cover;
}

.petiteFaimDetails img {
  width: 74vw;
  height: 35vh;
  object-fit: cover;
}

.petiteFaimDetails div.detailsPhoto>.fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Prevent landscape mode  */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #landscapePopUp {
    display: flex;
  }

  main,
  header,
  #homeButton {
    display: none;
  }
}