/* PRESENTATION SECTION  */
/* Before & after collapsing the all fullpage.js process */
.presentation>p,
.presentation>h1,
.presentation>div>p,
.presentation>div>h1 {
  font-family: 'Helvetica Neue', 'HelveticaNeue-Bold', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  margin-left: 14vw;
}

.presentation,
.presentation>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* GENERAL FORMATING */
#fullpage>article:nth-of-type(n+2)>div {
  display: flex;
  justify-content: space-between;
}

#fullpage>article>div>img {
  height: 92vh;
  align-self: flex-end;
}

article>div>h1 {
  font-family: sans-serif;
}

#fullpage>article>div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60vw;
  height: 92vh;
  align-self: flex-end;
}

#fullpage>article>div>div>p {
  margin-left: 6vw;
  margin-right: 6vw;
  font-family: 'HelveticaNeue-Medium', sans-serif;
}

#fullpage>article>div>div>p:last-of-type {
  margin-bottom: 0;
}

#fullpage>article:nth-of-type(2)>div>div>p {
  line-height: 6.5vh
}

#fullpage>article>div>div {
  text-align: justify;
  text-justify: inter-word;
}

#fullpage>article:nth-of-type(n+2)>div>div>h1,
.titleSlide {
  font-family: 'Helevtica Neue', 'HelveticaNeue-Bold', sans-serif;
  font-weight: bold;
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 5vh;
}

#fullpage>article:nth-of-type(n+3) p {
  font-size: 1.5em;
  margin-bottom: 3vh;
}

#fullpage>article:nth-of-type(2)>div>div>p {
  font-size: 1.8em;
  margin-bottom: 5vh;
}

/* Abercrombie  */
section:nth-of-type(2)>article>div>div,
section:nth-of-type(3)>article>div>div {
  max-width: 65vw !important;
}

/* Dr Martens */
.martensIframe>div {
  display: flex;
  justify-content: center !important;
}

.martensIframe>div>iframe {
  align-self: center;
  width: 70vw;
  height: 40vw;
}

/* Memorial */
.memorialImages>div {
  display: flex;
  align-items: center;
}

.memorialImages>div>div:first-of-type {
  max-width: 92vw !important;
  width: 92vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sliderArrows {
  margin-right: 7vw;
}

.displayedMemorial {
  display: block !important;
}

.memorialImages img {
  display: none;
  width: 50vw;
}

.memorialExplanations>div>div {
  max-width: 100vw !important;
  width: 100vw;
}

.memorialExplanations p {
  margin: 0 13vw 3vh 13vw !important;
}

.memorialExplanations>div.fp-slides>div>div>div>div.slide.fp-slide>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh !important;
}

/* petite faim no secific formatting at the moment */